<nav>
    <a class="logo" href="/">LOGO</a>
    <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
    <ul class="nav-list">
       <li><a href="#">Home</a></li>
       <li><a href="#">Quem somos</a></li>
       <li><a href="#">Planos</a></li>
       <li><a href="#">Blog</a></li>
    </ul>
    <ul class="login">
       <li><a href="#">Login</a></li>
       <li><input type="button" value="Cadastre-se" id="button"><a href="#"></a></li>
    </ul>
</nav>
<div id="image"> 
<img src="..." alt="imagem de um celular com graficos e moedas">
<img src="..." alt="vetor liquido">
</div>
